<main>
  <h1>CONTACTS</h1>
  <ul>
    <li>
      <span>Email: </span><a href="mailto:m201400@gmail.com"
        >m201400@gmail.com</a
      >
    </li>
    <li>
      <span>Telegram: </span><a href="https://t.me/VYm201200" target="_blank"
        >@VYm201200</a
      >
    </li>
    <li>
      <span>LinkedIn: </span><a href="#" target="_blank">M201400</a>
    </li>
    <li>
      <span>GitHub: </span><a
        href="https://github.com/M201200?tab=repositories"
        target="_blank">M201200</a
      >
    </li>
  </ul>
</main>
