---
import ProjectCard from "../components/ProjectCard.astro"
import TechCard from "../components/TechCard.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Vladislav Iujev Portfolio">
  <main>
    <section>
      <h1>Hi, I'm Vlad</h1>
      <p>I am a web developer</p>
    </section>
    <section>
      <p>
        I tend to focus primarily on Front-end, though I also have some
        knowledge in Back-end.
      </p>
      <!-- <p>
        I genuinely like web development, so I desire to create more, both for
        the benefit of others and for my own personal growth.
      </p> -->
    </section>

    <section>
      <h2>Technologies I know</h2>
      <ul class="cards">
        <TechCard
          title="Base languages:"
          tech={["HTML", "CSS", "JavaScript", "SQL"]}
        />
        <TechCard
          title="Supersets, RDBMS's and libraries:"
          tech={["Typescript", "React", "Tailwind", "MySQL"]}
        />
        <TechCard
          title="Frameworks, ORM's and pre-processors:"
          tech={["NextJS", "Astro", "Sass", "Drizzle"]}
        />
      </ul>
    </section>
    <section>
      <h2>My recent projects</h2>
      <ul class="cards">
        <ProjectCard
          title="My leisure"
          image=""
          siteLink="#"
          githubLink="#"
          tech={["TypeScript", "Tailwind", "NextJS"]}
          description="This app allows you to scroll through large database of movies and books to find something to watch or read tonight."
        />
        <ProjectCard
          title="New furniture"
          image=""
          siteLink="#"
          githubLink="#"
          tech={["TypeScript", "Tailwind", "NextJS", "MySQL", "Drizzle"]}
          description="Marketplace where you can find and buy furniture."
        />
        <ProjectCard
          title="Playground"
          image=""
          siteLink="#"
          githubLink="#"
          tech={["TypeScript", "ThreeJS", "Astro"]}
          description="This is my project where I experiment with WebGL using ThreeJS."
        />
      </ul>
    </section>
    <section>
      <h2>Get in touch with me</h2>
      <p>Post form</p>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
</style>
