---
import { Image } from "astro:assets"
import "@fontsource/roboto/500.css"
import "@fontsource/roboto/900.css"

type Props = {
  tech: {
    name: string
    image: ImageMetadata
  }[]
}

const { tech } = Astro.props
---

<li class="card">
  <ul>
    {
      tech.map((item) => (
        <li>
          <Image src={item.image} alt={item.name} loading="lazy" />
          <p>{item.name}</p>
        </li>
      ))
    }
  </ul>
</li>

<style lang="scss">
  .card {
    display: grid;
    gap: 2rem;
    font-family: Roboto, sans-serif;

    ul {
      display: grid;
      grid-template-columns: repeat(2, var(--size-fluid-7));
      grid-template-rows: repeat(auto-fit, var(--size-fluid-7));
      gap: 2rem;
      justify-content: center;
      align-items: center;
      justify-items: center;

      li {
        display: grid;
        justify-items: center;
        gap: 1rem;
        width: var(--size-fluid-7);
        aspect-ratio: 1;

        box-shadow: var(--shadow-2);

        padding: 0.5em;

        p {
          font-size: var(--font-size-fluid-0);
        }
        img {
          width: var(--size-fluid-5);
          aspect-ratio: 1;
        }
      }

      @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, var(--size-fluid-7));
        grid-template-rows: repeat(auto-fit, var(--size-fluid-7));
      }
    }
  }
</style>
