---
type Props = {
  tech: {
    name: string
    image: string
  }[]
}

const { tech } = Astro.props
---

<li class="card">
  <ul>
    {
      tech.map((item) => (
        <li class="item">
          <div>
            <img src={item.image} alt={item.name} loading="lazy" />
            <p>{item.name}</p>
          </div>
        </li>
      ))
    }
  </ul>
</li>

<style>
  .card {
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    gap: 2rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    font-style: italic;
  }

  .item {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    justify-content: center;

    div {
      display: grid;
      place-content: center;
      justify-items: center;
      gap: 1rem;
      min-width: 9rem;
      min-height: 9rem;
      padding: 1rem;

      border: solid 1px black;
      border-radius: 2rem;
    }
  }

  p {
    font-size: 1.25rem;
  }
  img {
    width: 4rem;
    height: 4rem;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: space-evenly;
    gap: 2rem;
  }
</style>
