---
import Header from "../components/Header.astro"
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>

  <style is:global>
    @import "open-props/style";

    @layer reset {
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      body {
        margin: unset;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        text-wrap: balance;
      }

      p {
        line-height: 1.6;
        letter-spacing: 0.5px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      ul {
        margin: unset;
        padding: unset;
      }
      li {
        list-style: none;
      }

      button,
      input,
      textarea,
      select {
        font: inherit;
      }

      img,
      picture,
      svg,
      canvas {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
      }

      @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }
    }

    html {
      font-family: Roboto, sans-serif;
    }

    body {
      position: relative;
      background-color: var(--stone-0);
      padding-top: 6rem;
      overflow-x: hidden;
    }
  </style>
</html>
